// out: divi-extension.css, compress: true
body.et_divi_builder #et_builder_outer_content {

    // TILES

    .divi-tile {
        padding:0;
        margin:0;
        .et_pb_column {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            min-height: 65vh;
        }
        &--rtl .et_pb_column:nth-child(2) > .et_pb_module,
        &--ltr .et_pb_column:nth-child(1) > .et_pb_module {
            max-width: 480px;
            margin: 0 auto !important;
            float: none !important;
        }
    }

    // SUBHEADING

    .divi-subheading {
        max-width: 860px;
        text-align: center;
        font-size: 22px;
        line-height: 1.8em;
        margin-left: auto;
        margin-right: auto;
    }

    // MAX WIDTH

    .divi-max {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
        &--760 { max-width: 760px; }
        &--840 { max-width: 840px; }
        &--960 { max-width: 960px; }
    }

    // HERO

    .divi-hero {
        z-index: 9;
        position: relative;
        padding: 20vh 0;
        .divi-hero--full {
            height: 100vh;
        }
        &:before {
            content: " ";
            display: block;
            z-index: 3;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            background: rgba(0,0,0,0.6);
        }
        .et_pb_row .et_pb_module {
            max-width: 860px;
            width: 90%;
            margin-left: auto !important;
            margin-right: auto !important;
            text-align: center;
            color: white;
        }
    }

}

@media screen and (max-width: 760px) {
    body.et_divi_builder #et_builder_outer_content {

        // MOBILE: TILES

        .divi-tile--r2l .et_pb_column:nth-child(2) > .et_pb_module,
        .divi-tile--l2r .et_pb_column:nth-child(1) > .et_pb_module {
            padding-top: 50px !important;
            padding-bottom: 50px !important;
            padding-left: 5% !important;
            padding-right: 5% !important;
        }

        // MOBILE: SUBHEADING

        .divi-subheading {
            font-size: 17px;
        }

        // MOBILE: ONLY

        .divi-mobile-padding {
            padding-left: 5%;
            padding-right: 5%;
        }

        .divi-mobile-hide {
            display: none !important;
        }
    }
}

// legacy support for < 20180413
html body .tileLayout{padding:0;margin:0}html body .tileLayout .et_pb_column{display:flex;align-items:center;justify-content:center;flex-direction:column;flex-wrap:wrap;min-height:65vh}html body .tileLayout--r2l .et_pb_column:nth-child(2) > .et_pb_module,html body .tileLayout--l2r .et_pb_column:nth-child(1) > .et_pb_module{max-width:480px;margin:0 auto!important;float:none!important}@media screen and (max-width: 600px){html body .tileLayout--r2l .et_pb_column:nth-child(2) > .et_pb_module,html body .tileLayout--l2r .et_pb_column:nth-child(1) > .et_pb_module{padding:50px 5%!important}}html body .diviExcerpt{max-width:860px;text-align:center;font-size:22px;line-height:1.8em;margin-left:auto;margin-right:auto}@media screen and (max-width: 600px){html body .diviExcerpt{font-size:17px}}
